streamlit==1.40.0
langchain==0.1.20
langchain-groq==0.1.5
langchain-openai==0.1.19
openai==1.14.2
requests==2.31.0
pandas==2.2.0
python-dotenv==1.0.0
langchain-google-genai==0.0.13
google-generativeai==0.6.0
pydantic==2.7.0
typing-extensions==4.10.0